* {
    margin: 0;
}

body {
    box-sizing: border-box;
    background-color: #f9f9f9;
    font-family: 'Inter', sans-serif;
}

.jokes {
    display: flex;
    justify-content: center;
    margin: 40px;
    background-color: aliceblue;
    height: 80px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    max-width: 500px;
    
}

.setup {
    padding:  10px 0 10px 20px;
    font-weight: bold;
    text-align: center;
}

.punchline {
    padding:  0px 0 0 20px;
    text-align: center;
}